<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/style.css">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5729584968955476"
     crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <h1 class="logo">Where You Stand</h1>
        <nav class="navigation">
            <a href="/templates/index.html"Home</a>
            <a href="/templates/calculate.html">Calculate</a>
            <button type="button" class="btnlogin">Press Me</button>
        </nav>
    </header>
    <div class="wrapper">
        <span class="icon-close"><ion-icon name="close"></ion-icon></span>
        <div class="content-box">
            <h2>Developers Info</h2>
            <div class="info-box">
                <p><span class="bold-text">Why I made this?</span></p>
                <p>
                    Well...</p><p>Firstly I was told to make it by my cousin who is in 9th semester, Pharmacy..so shoutout to him for this idea</p>
                    <p>But most importantly Yes it is 1:55am and yes I do have an exam in the morning but hey..Im bored and who in this era studies so yeah...anyways...</p>
                    <p>Hope you like it <ion-icon name="happy-outline"></ion-icon></p>
                    <p>Who am I? nO oNe KnOwS hehe.. <ion-icon name="logo-tux"></ion-icon></p>
            </div>
        </div>
    </div>
    <script src="/script.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
